@use "../global/variable" as v;
@use "../global/base" as b;
@use "../global/mixin" as m;

/*=====================================================
# cta
=====================================================*/
.cta {
  &-bg {
    width: 100%;
    @include v.mq(sp) {
      background: url(../img/sp.cta_bg.jpg) no-repeat center / cover;
      height: 2.73rem;
      padding: 0.32rem 0 0.28rem;
    }
    @include v.mq(pc) {
      background: url(../img/pc.cta_bg.jpg) no-repeat center / cover;
      height: 4rem;
      padding: 0.45rem 0 0;
    }
  }

  &-inner{
    @include v.mq(sp) {
      padding: 0 .1rem;
    }
  }
  &-txt {
    color: #fff;
    font-weight: bold;
    text-align: center;
    .txt {
      line-height: 1;
      &:nth-child(1) {
        @include v.mq(sp) {
          font-size: 0.22rem;
        }
        @include v.mq(pc) {
          font-size: 0.38rem;
        }
      }
      &:nth-child(2) {
        @include v.mq(sp) {
          font-size: 0.24rem;
          margin: 0.08rem;
        }
        @include v.mq(pc) {
          font-size: 0.4rem;
          margin: .2rem 0 0;
        }
      }
      &__s {
        @include v.mq(sp) {
          font-size: 0.15rem;
        }
        @include v.mq(pc) {
          font-size: 0.35rem;
        }
      }
      &__m {
        @include v.mq(sp) {
          font-size: 0.21rem;
        }
        @include v.mq(pc) {
          font-size: 0.37rem;
        }
      }
      &__l {
        @include v.mq(sp) {
          font-size: 0.26rem;
        }
        @include v.mq(pc) {
          font-size: 0.42rem;
        }
      }
    }
  }
  &-logo {
    @include v.mq(sp) {
      width: 1.54rem;
      margin: 0.15rem auto 0.122rem;
    }
    @include v.mq(pc) {
      width: 2.7871rem;
      margin: .25rem auto 0;
    }
  }
  &-btn {
    @include v.mq(sp) {
      display: block
    }
    @include v.mq(pc) {
      @include m.to_simulation(.25rem);
      display: block;
    }
  }
}
