@use "../global/variable" as v;
@use "../global/base" as b;

/*=====================================================
# footer
=====================================================*/
.footer{
    color: #fff;
    &-bg{
        background: v.$color-bg-footer;
        padding: .3rem 0 .2rem;
    }
    &-ttl{
        width: 1.12rem;
        margin: 0 auto;
    }
    &-txt{
        margin: .257rem 0 0;
        .txt{
            font-weight: Medium;
            font-size: 0.14rem;
            line-height: 1;
            margin: .25rem 0 0;
            &:nth-child(2){
                margin: .14rem 0 0;
            }
        }
    .copyright{
        text-align: center;
        margin: .4rem 0 0;
    }
}
}