@use "../global/variable" as v;
@use "../global/base" as b;
@use "../global/mixin" as m;

.type-radio + span {
  @include v.mq(sp) {
    padding-left: 0.4rem;
  }
  @include v.mq(pc) {
    padding: 0 0 0 2.2em;
  }
}

.type-radio + span::before {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.type-radio + span::after {
  content: "";
  position: absolute;
  background: #3895ff;
  border: 1px solid transparent;
  border-radius: 50%;
  opacity: 0;
  width: 0.19rem;
  height: 0.19rem;
  top: 50%;
  left: 0.03333rem;
  transform: translateY(-50%);
  padding: 2px;
  transition: all 0.3s ease 0s;
}

.type-radio:checked + span::after {
  opacity: 1;
}

.type-checkbox + span::before {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0.03rem;
  width: 0.2rem;
  height: 0.2rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.type-checkbox + span::after {
  content: "";
  position: absolute;
  opacity: 0;
  border: 1px solid transparent;
  top: 0.05rem;
  left: 0.02rem;
  width: 0.14rem;
  height: 0.078rem;
  border-left: 0.03rem solid #333333;
  border-bottom: 0.03rem solid #333333;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
}

.type-checkbox:checked + span::after {
  opacity: 1;
}

.type-text,.type-email,.type-number{
  color: #333;
  &::placeholder{
    color: #B5B9BE;
  }
}

.select_wrap{
  position: relative;
  @include v.mq(sp) {
    width: 2.48rem;
  }
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: .06rem;
    height: .06rem;
    border-right: 1px solid #707070;
    border-bottom: 1px solid #707070;
    @include v.mq(sp) {
      right: .2rem;
    }
    @include v.mq(pc) {
      right: .4rem;
    }
  }
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.81rem;
    height: .2rem;
    background: url("../img/form_select_txt.png") no-repeat center / cover;
    pointer-events: none;
    @include v.mq(sp) {
      left: 8%;
    }
    @include v.mq(pc) {
      left: 16%;
    }
  }
  &.active{
    &::before{
      background: none;
    }
  }
}

.pref_select_wrap,
.fit_select_wrap{
  &::before{
    left: 8%;
  }

  &::after{
    right: 8%;
  }
}

/*=====================================================
# form
=====================================================*/
.form {
  @include v.mq(sp) {
    background: #fff;
    width: 100%;
    padding: 0.3rem 0.2rem 0.5rem;
    margin: 0.31rem 0 0;
    border-radius: 0.4rem 0 0 0;
  }
  @include v.mq(pc) {
    background: #fff;
    width: 100%;
    border-radius: 0.4rem 0 0 0;
    padding: 0.32rem 0.4rem 0.5rem;
    margin-top: 0.33rem;
  }

  .form-item {
    // layout
    @include v.mq(pc) {
      display: flex;
      align-items: center;
    }

    &:not(.name) {
      @include v.mq(sp) {
        margin: 0.2rem 0 0;
      }
    }

    &.name,
    &.gmap,
    &.fit,
    &.dc,
    &.wiring,
    &.system,
    &.maint,
    &.panel,
    &.pcs {
      position: relative;
      @include v.mq(sp) {
        padding-bottom: 0.2rem;
      }
      @include v.mq(pc) {
        padding-bottom: 0.185rem;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #e2e3e5;
        width: 100%;
        height: 1px;
      }
    }

    &.email {
      @include v.mq(pc) {
        margin-top: 0.205rem;
      }
    }

    &.address {
      @include v.mq(pc) {
        margin-top: 0.3rem;
      }
    }

    &.post {
      @include v.mq(pc) {
        margin-top: 0.16rem;
      }
    }

    &.gmap {
      @include v.mq(pc) {
        margin-top: 0.155rem;
        margin-bottom: 0.155rem;
      }
    }

    &.pref,
    &.city,
    &.houseNumber,
    &.fit,
    &.dc,
    &.wiring,
    &.system,
    &.maint,
    &.panel,
    &.pcs {
      @include v.mq(pc) {
        margin-top: 0.2rem;
      }
    }

    &.houseNumber,
    &.fit,
    &.dc,
    &.wiring,
    &.system,
    &.maint,
    &.panel,
    &.pcs {
      @include v.mq(pc) {
        padding-bottom: 0.205rem;
      }
    }

    &.dc{
      .wrap{
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .form-item-ttl,
  .form-item-input {
    color: #333333;
  }

  .form-item-ttl {
    @include v.mq(sp) {
      font-size: 0.16rem;
      margin-bottom: 0.1rem;
    }
    @include v.mq(pc) {
      font-size: 0.18rem;
      width: 3.6rem;
    }

    .require {
      position: relative;
      top: -0.02rem;
      display: inline-block;
      color: #ffffff;
      background: #c41736;
      font-size: 0.1rem;
      line-height: 0.16rem;
      text-align: center;
      width: 0.42rem;
      height: 0.16rem;
      @include v.mq(sp) {
        margin-left: 0.2rem;
      }
      @include v.mq(pc) {
        margin-left: 0.305rem;
      }
    }
  }

  .form-item-input {
    font-size: 0.16rem;
  }

  .type-email,
  .type-number,
  .input-munic,
  .input-address,
  .input-panel,
  .input-pcs {
    @include v.mq(pc) {
      width: 3.6rem;
    }
  }

  .input-pref,
  .input-fit {
    // color: #b5b9be;
    @include v.mq(pc) {
      width: 2.4rem;
    }
  }

  .form-powerPlant {
    &-ttl {
      color: #333333;
      background: #eaeaea;
      font-weight: bold;
      @include v.mq(sp) {
        font-size: 0.16rem;
        line-height: 0.5rem;
        width: calc(100% + 0.4rem);
        height: 0.5rem;
        margin: 0.3rem -0.2rem 0;
        padding-left: 0.2rem;
      }
      @include v.mq(pc) {
        font-size: 0.2rem;
        line-height: 0.6rem;
        width: calc(100% + 0.8rem);
        height: 0.6rem;
        margin: 0.3rem -0.4rem 0;
        padding-left: 0.4rem;
      }
    }
  }

  .form-item {
    // block
    &.name {
      .form-item-input {
        display: grid;
        justify-content: space-between;
        @include v.mq(sp) {
          grid-template-columns: 1.31rem 1.31rem;
          column-gap: 0.17rem;
        }
        @include v.mq(pc) {
          grid-template-columns: 1.66rem 1.66rem;
          column-gap: 0.285rem;
        }
      }
      .form-item-label {
        display: flex;
        column-gap: 0.1rem;

        .label-txt {
          display: block;
          @include v.mq(sp) {
            font-size: 0.14rem;
            line-height: 0.5rem;
          }
          @include v.mq(pc) {
            font-size: 0.16rem;
            line-height: 0.5rem;
          }
        }
      }
    }

    &.fit {
      .input-fit {
        @include v.mq(sp) {
          width: 2.48rem;
        }
      }
    }

    &.pref {
      .input-pref {
        @include v.mq(sp) {
          width: 2.48rem;
        }
      }
    }

    &.dc {
      .unit {
        font-size: 0.16rem;
        @include v.mq(sp) {
          display: inline;
          vertical-align: bottom;
          margin-left: 0.19rem;
        }
        @include v.mq(pc) {
          align-self: end;
          margin: 0 0 0 .25rem;
        }
      }

      .input-dc {
        @include v.mq(sp) {
          width: 2.48rem;
        }
        @include v.mq(pc) {
          width: 3.1rem;
        }
      }
    }
    &.wiring,
    &.system,
    &.maint {
      .form-item-ttl {
        margin-bottom: 0.14rem;
      }
      .radio-wrap {
        display: flex;

        @include v.mq(sp) {
          gap: 0.8rem;
        }
        @include v.mq(pc) {
          gap: 0.6rem;
        }
      }
      .form-item-label {
        display: contents;
      }
      .label-txt {
        color: #333333;
        font-size: 0.18rem;
      }
    }

    &.post,
    &.pref,
    &.munic,
    &.houseNumber {
      .form-item-ttl {
        @include v.mq(sp) {
          font-size: 0.14rem;
        }
      }
    }
  }
  .privacy {
    margin: 0.2rem 0 0;
    .privacy-txt {
      display: block;
      font-size: 0.14rem;
      line-height: 1.4;
      @include v.mq(pc) {
        text-align: center;
        margin-bottom: 0.12rem;
      }
    }

    &-link {
      color: #3895ff;
    }

    &_input {
      display: none;
      &_wrap {
        position: relative;
        @include v.mq(sp) {
          margin: 0.12rem 0 0;
        }
      }

      &_label {
        @include v.mq(pc) {
          display: flex;
          justify-content: center;
        }
      }

      &_txt {
        position: relative;
        padding: 0 0 0 0.3rem;
      }
    }
  }

  .submit {
    margin: 0.4rem auto 0;
    @include v.mq(pc) {
      width: 3.65rem;
    }

    &_wrap{
      position: relative;

      &::before{
        content: "";
        position: absolute;
        display: inline-block;
        top: 47%;
        right: .4rem;
        transform-origin: 50% -50%;
        width: .115rem;
        height: .115rem;
        // background: #fff;
        border-top: .03rem solid #fff;
        border-right: .03rem solid #fff;
        transform: rotate(45deg);
        z-index: 10;
      }
    }
  }

  .submit .to-confirm {
    position: relative;
    display: inline-block;
    color: #ffffff;
    background: #f73f61;
    font-weight: bold;
    text-align: center;
    @include v.mq(sp) {
      font-size: 0.18rem;
      line-height: 0.6rem;
      border-radius: 0.52rem;
      width: 2.95rem;
      height: 0.6rem;
    }
    @include v.mq(pc) {
      font-size: 0.22rem;
      line-height: 0.75rem;
      border-radius: 0.38rem;
      width: 3.65rem;
      height: 0.75rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

/*=====================================================
# map
=====================================================*/
.input-gmap,
.gmap-confirm {
  border-radius: 0.03rem;
  @include v.mq(sp) {
    width: 2.95rem;
    height: 1.5rem;
  }
  @include v.mq(pc) {
    width: 3.6rem;
    height: 1.6rem;
  }
}

/*=====================================================
# confirm
=====================================================*/
.confirm {
  &_bg {
    background: #eaf3fa;
    @include v.mq(sp) {
      padding: 0.3rem 0 0.65rem;
    }
    @include v.mq(pc) {
      padding: 0.6rem 0 1rem;
    }
  }

  &_inner {
    margin: 0.31rem auto 0;
    background: #fff;
    @include v.mq(sp) {
      width: 3.35rem;
      padding: 0.3rem 0.2rem 0.4rem;
      border-radius: 0.3rem 0 0 0;
    }
    @include v.mq(pc) {
      width: 8rem;
      padding: 44px 40px 50px;
      border-radius: 0.4rem 0 0 0;
    }
  }

  &_ttl {
    color: #333333;
    font-weight: bold;
    text-align: center;
    @include v.mq(sp) {
      font-size: 0.28rem;
    }
    @include v.mq(pc) {
      font-size: 0.4rem;
    }
  }

  &_list {
  }

  &_item {
    position: relative;
    color: #333333;
    display: grid;

    @include v.mq(sp) {
      // grid-template-columns: 1.45rem 1fr;
      grid-template-columns: repeat(auto-fill, (1.45rem, 1fr));
      // gap: .2rem;
      gap: 0.12rem;
      padding: 0 0 0.15rem 0;
    }

    @include v.mq(pc) {
      grid-template-columns: 3.6rem 3.6rem;
      align-items: center;
      padding: 0 0 0.155rem 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #e2e3e5;
      width: 100%;
      height: 1px;
    }

    &:not(:first-child) {
      margin: 0.155rem 0 0;
    }

    &_ttl {
      font-weight: bold;
      font-size: 0.16rem;
    }
    &_txt {
      font-size: 0.16rem;
      .__01,
      .__02 {
        display: inline;
      }
    }

    &.map{
      width: 100%;
      @include v.mq(sp) {
        padding: 0 0 2.05rem;
      }
      @include v.mq(pc) {
        padding: 0 0 1.65rem;
      }
      .gmap-confirm{
        height: 1.5rem;
        @include v.mq(sp) {
          width: 2.95rem;
        }
        @include v.mq(pc) {
          width: 3.5rem;
        }
      }
    }
  }

  .unit {
    font-size: 0.16rem;
  }

  .privacy {
    margin: 0.2rem 0 0;
    &_label {
      position: relative;
      display: flex;
      justify-content: center;
    }
    &_txt {
      position: relative;
      font-size: 0.16rem;
      padding: 0 0 0 0.3rem;
    }
  }

  .submit {
    margin: 0 auto;
    @include v.mq(sp) {
      margin: .4rem 0 0;
    }
    @include v.mq(pc) {
      font-size: .18rem;
      width: 3.65rem;
      margin: .4rem auto 0;
    }
        &_wrap{
      position: relative;

      &::before{
        content: "";
        position: absolute;
        display: inline-block;
        top: 47%;
        right: .4rem;
        transform-origin: 50% -50%;
        width: .115rem;
        height: .115rem;
        // background: #fff;
        border-top: .03rem solid #fff;
        border-right: .03rem solid #fff;
        transform: rotate(45deg);
        z-index: 10;
      }
    }
    &_toThanks {
      display: inline-block;
      color: #ffffff;
      background: #f73f61;
      font-weight: bold;
      text-align: center;
      @include v.mq(sp) {
        font-size: 0.18rem;
        line-height: 0.6rem;
        border-radius: 0.52rem;
        width: 2.95rem;
        height: 0.6rem;
      }
      @include v.mq(pc) {
        font-size: 0.22rem;
        line-height: 0.75rem;
        border-radius: 0.38rem;
        width: 3.65rem;
        height: 0.75rem;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
/*=====================================================
# valudation
=====================================================*/
.input_wrap {
  position: relative;
}

.error {
  position: absolute;
  display: inline-block;
  padding: 0.03rem;
  max-width: 100%;
  color: red;
  font-size: 0.12rem;
  background: #fff;
  border: solid 0.03rem red;
  box-sizing: border-box;
  border-radius: 0.03rem;
  @include v.mq(sp) {
    top: 0.4rem;
    left: -0.06rem;
  }
  @include v.mq(pc) {
    top: -0.36rem;
    left: -0.26rem;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @include v.mq(sp) {
      top: -0.18rem;
      border: 0.12rem solid transparent;
      border-bottom: 0.12rem solid #fff;
    }
    @include v.mq(pc) {
      bottom: -0.18rem;
      border: 0.12rem solid transparent;
      border-top: 0.12rem solid #fff;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include v.mq(sp) {
      top: -0.205rem;
      border: 0.1rem solid transparent;
      border-bottom: 0.1rem solid red;
    }
    @include v.mq(pc) {
      bottom: -0.205rem;
      border: 0.1rem solid transparent;
      border-top: 0.1rem solid red;
    }
  }
}

.privacy {
  .error {
    left: 50%;
    transform: translateX(-50%);
    @include v.mq(sp) {
      top: .295rem;
    }
    @include v.mq(pc) {
    }
  }
::placeholder {
  color: #b5b9be;
}
/* 旧Edge対応 */
::-ms-input-placeholder {
  color: #b5b9be;
}
/* IE対応 */
:-ms-input-placeholder {
  color: #b5b9be;
}
}