@use "../global/variable" as v;
@use "../global/base" as b;

/*=====================================================
# header
=====================================================*/
.header {
  z-index: 999;
  @include v.mq(sp) {
    height: 0.6rem;
  }
  @include v.mq(pc) {
    height: 0.8rem;
  }
  &-bg {
    background: #fff;
    @include v.mq(sp) {
      padding: 0.14rem 0 0.12rem;
    }
    @include v.mq(pc) {
      padding: 0.1rem 0;
    }
  }
  &-inner {
    display: flex;
    align-items: center;
    @include v.mq(pc) {
      max-width: 10rem;
    }
  }
  &_link{
    display: block;
  }
  &-logo {
    @include v.mq(sp) {
      width: 1.21rem;
    }
    @include v.mq(pc) {
      width: 1.9025rem;
    }
  }
  &-txt {
    font-weight: bold;
    @include v.mq(sp) {
      font-size: 0.14rem;
      line-height: 1.25;
      margin: 0 0 0 0.2rem;
    }
    @include v.mq(pc) {
      font-size: 0.2rem;
      line-height: 1.5;
      margin: 0 0 0 0.25rem;
    }
  }
}
