@charset "UTF-8";

@use "./global/base" as b;
@use "./global/variable" as v;
@use "./templates/header";
@use "./templates/footer";

.main {
  height: 11.93rem;
  background-color: #eaf3fa;
  padding-top: 0.37rem;
  &-title {
    font-size: 0.28rem;
    margin: 0 0.89rem 0.36rem 0.9rem;
  }
  &-textbox {
    height: 10.32rem;
    width: 3.35rem;
    background-color: white;
    border-top-left-radius: 0.3rem;
    margin: 0 0.2rem 0.605rem 0.2rem;
    padding: 0.35rem 0.2rem 0.4rem;
    font-size: 0.16rem;
    &_content {
      border-bottom: 0.01rem solid #e2e3e5;
      p {
        margin-bottom: 0.18rem;
        font-weight: bold;
      }
      &:not(:first-child) {
        margin-top: 0.21rem;
      }
    }
    .checkbox {
      padding: 0 0.2rem 0.41rem 0.2rem;
      &-content {
        cursor: pointer;
        display: flex;
        &_btn {
          &::before {
            content: "";
            position: absolute;
            width: 0.18rem;
            height: 0.18rem;
            border: 0.015rem solid rgba(0, 0, 0, 0.16);
            border-radius: 0.02rem;
          }
          &:checked {
            & + ::before {
              content: "";
              position: absolute;
              width: 0.18rem;
              height: 0.18rem;
              border: 0.015rem solid rgba(0, 0, 0, 0.16);
            }
            & + ::after {
              content: "";
              position: absolute;
              width: 0.1rem;
              height: 0.05rem;
              border-left: 0.02rem solid #000;
              border-bottom: 0.02rem solid #000;
              transform: rotate(-45deg);
            }
          }
        }
        &_txt {
          margin-top: 0.2rem;
          margin-left: 0.1rem;
          font-size: 0.14rem;
          position: relative;
        }
      }
    }
  }
  .comfirm-button {
    &_img {
      width: 2.95rem;
      height: 0.6rem;
    }
  }
}
