@charset "UTF-8";

@use "./global/base" as b;
@use "./global/variable" as v;
@use "./templates/header";
@use "./templates/footer";

.main {
  height: 11.93rem;
  background-color: #eaf3fa;
  padding-top: 0.37rem;
  &-title {
    font-size: 0.28rem;
    margin: 0 0.89rem 0.36rem 0.9rem;
  }
  &-textbox {
    height: 10.32rem;
    width: 3.35rem;
    background-color: white;
    border-top-left-radius: 0.3rem;
    margin: 0 0.2rem 0.605rem 0.2rem;
    padding: 0.35rem 0.2rem 0.4rem;
    font-size: 0.16rem;
    &_content {
      border-bottom: 0.01rem solid #e2e3e5;
      p {
        margin-bottom: 0.18rem;
        font-weight: bold;
      }
      &:not(:first-child) {
        margin-top: 0.21rem;
      }
    }
    .checkbox {
      &-content {
        &_btn {
          &:checked + .checkbox-content_txt {
            &::before {
              opacity: 1;
            }
            &::after {
              opacity: 1;
            }
          }
        }
        &_txt {
          font-size: 0.14rem;
          cursor: pointer;
          position: relative;
          display: inline-block;
          margin: 0 0.2rem 0.46rem 0.48rem;
          &::before {
            content: "";
            position: absolute;
            display: block;
            opacity: 0;
            top: 0.132rem;
            left: -0.276rem;
            border: 0.01rem solid #000;
            border-radius: 0.2rem;
            transform: rotate(40deg);
            width: 0.07rem;
            background-color: #000;
          }
          &::after {
            content: "";
            position: absolute;
            display: block;
            opacity: 0;
            top: 0.12rem;
            left: -0.243rem;
            border: 0.01rem solid #000;
            border-radius: 0.2rem;
            transform: rotate(-45deg);
            width: 0.1rem;
            background-color: #000;
          }
          .checkmark {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 0.18rem;
              height: 0.18rem;
              display: block;
              border: 0.012rem solid #b5b9be;
              border-radius: 0.03rem;
              top: 0.05rem;
              left: -0.3rem;
            }
          }
        }
      }
    }
    .comfirm-button {
      &_img {
        width: 2.95rem;
        height: 0.6rem;
      }
    }
  }
}

@media screen and (min-width: 767px) {
}
