@charset "UTF-8";
@use "./global/variable" as v;
@use "./global/base" as b;
@use "./global/mixin" as m;
@use "./templates/header";
@use "./templates/footer";

/*=====================================================
# form-confirm
=====================================================*/
/*=====================================================
# form-confirm
=====================================================*/
.form-confirm {
  .top {
    display: none;
  }

  &-ttl{
    color: #333333;
    font-weight: bold;
    font-size: .28rem;
    text-align: center;
    line-height: 1;
  }

  background: #EAF3FA;

  .form-bg{
    background: url(../img/contact/pc/form_bg.png) no-repeat center / cover;
    width: 8rem;
    padding: 0.6rem 0 1rem;
    margin: .31rem auto 0;
  }

  .form-inner{
    background: #ffffff;
    padding: .44rem .4rem .5rem;
  }

  .form-item{
    display: flex;
    align-items: center;
    
    &.name{
      position: relative;
      padding-bottom: .185rem;
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #E2E3E5;
        width: 100%;
        height: 1px;
      }
    }

    &.email{
      margin-top: .205rem;
    }
  }

  .form-item-ttl{
    font-size: .18rem;
    width: 3.6rem;
  }

  .form-item-label{
  }

  
  .name{
    .form-item-input{
      display: flex;
      font-size: .16rem;
    }
  }

}