@charset "UTF-8";
@use "./global/variable" as v;
@use "./global/base" as b;
@use "./global/mixin" as m;
@use "./templates/header";
@use "./templates/footer";

/*=====================================================
# form-confirm
=====================================================*/
/*=====================================================
# form-confirm
=====================================================*/
.form-confirm {
  @include v.mq(sp) {
    padding: 0.3rem 0.2rem 0.6rem;
  }
  @include v.mq(pc) {
    padding: 0.6rem 0 1rem;
  }
  .top {
    display: none;
  }

  background: #eaf3fa;

  &-ttl {
    color: #333333;
    font-weight: bold;
    font-size: 0.28rem;
    text-align: center;
    line-height: 1;
  }

  .form-bg {
    margin: 0.31rem auto 0;
    @include v.mq(pc) {
      width: 8rem;
    }
  }

  .form-inner {
    background: #ffffff;
    border-radius: 0.4rem 0 0 0;
    @include v.mq(sp) {
      padding: 0.3rem 0.2rem 0.4rem;
    }
    @include v.mq(pc) {
      padding: 0.44rem 0.4rem 0.5rem;
    }
  }

  .form-item {
    display: flex;
    font-size: 0.16rem;
    align-items: center;
    position: relative;
    @include v.mq(sp) {
      flex-wrap: wrap;
      padding-bottom: 0.15rem;
    }
    @include v.mq(pc) {
      padding-bottom: 0.155rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #e2e3e5;
      width: 100%;
      height: 1px;
    }

    &.address {
      &::after {
        background: #ffffff;
      }
    }

    &:nth-child(n + 2),
    &.address {
      @include v.mq(sp) {
        margin-top: 0.16rem;
      }
      @include v.mq(pc) {
        margin: 0.155rem 0 0;
      }
    }

    &.pref {
      @include v.mq(sp) {
        margin-top: 0;
      }
    }
  }

  .form-item-ttl {
    @include v.mq(sp) {
      font-weight: bold;
      font-size: 0.16rem;
      width: 1.48rem;
      margin-right: 0.2rem;
    }
    @include v.mq(pc) {
      font-size: 0.18rem;
      width: 3.6rem;
    }
  }

  .form-item-label {
  }

  .name {
    .form-item-input {
      display: flex;
      font-size: 0.16rem;
    }
  }

  .privacy {
    text-align: center;

    @include v.mq(sp) {
      font-size: 0.14rem;
      margin: 0.2rem 0 0;
    }
    @include v.mq(pc) {
      font-size: 0.16rem;
      margin: 0.26rem 0 0;
    }

    label {
      justify-content: center;
    }
  }

  .type-checkbox + span {
    position: relative;
    padding-left: 0.3rem;
  }

  .type-checkbox + span::before {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0.03rem;
    width: 0.2rem;
    height: 0.2rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .type-checkbox + span::after {
    content: "";
    position: absolute;
    opacity: 0;
    border: 1px solid transparent;
    top: 0.04rem;
    left: 0.02rem;
    width: 0.15rem;
    height: 0.075rem;
    border-left: 0.02rem solid #333333;
    border-bottom: 0.02rem solid #333333;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
  }

  .type-checkbox:checked + span::after {
    opacity: 1;
  }

  /*=====================================================
  # add css
  =====================================================*/
  .submit {
    margin: 0.4rem 0 0;
  }
  .submit .submit-label {
    display: flex;
    justify-content: center;
  }

  .submit .to-confirm {
    display: inline-block;
    color: #ffffff;
    background: #f73f61;
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    @include v.mq(sp) {
      font-size: 0.18rem;
      line-height: 0.6rem;
      border-radius: 0.52rem;
      width: 2.95rem;
      height: 0.6rem;
    }
    @include v.mq(pc) {
      font-size: 0.22rem;
      line-height: 0.75rem;
      border-radius: 0.38rem;
      width: 3.65rem;
      height: 0.75rem;
    }
  }

  .top {
    display: none;
  }
}
