@use "variable" as v;
@use "base" as b;

/*=====================================================
# header
=====================================================*/
.header{
    &-inner{

    }
    &-logo{

    }
    &-txt{
        
    }
}
/*=====================================================
# mv
=====================================================*/

.mv{
    &-bg{
        background: url(../img/mv-bg.jpg) no-repeat center / cover;
        width: 100%;
        height: 6.67rem;
    }
}