@charset "UTF-8";

@use "./global/base" as b;
@use "./global/variable" as v;
@use "./templates/header";
@use "./templates/footer";

.main {
  background-color: #eaf3fa;
  @include v.mq(sp) {
    height: 3.77rem;
    padding: 0.4rem 0.2rem 0.605rem 0.2rem;
  }
  @include v.mq(pc) {
    height: 4.06rem;
    padding: 0.8rem 3.2rem;
  }
  &-inner {
    background-color: white;
    @include v.mq(sp) {
      height: 2.77rem;
      border-top-left-radius: 0.3rem;
      padding: 0.37rem 0.23rem 0.25rem 0.24rem;
    }
    @include v.mq(pc) {
      height: 2.46rem;
      border-top-left-radius: 0.4rem;
      padding-top: 0.47rem;
    }
    &_title {
      text-align: center;
      font-weight: bold;
      @include v.mq(sp) {
        margin-bottom: 0.25rem;
        font-size: 0.24rem;
      }
      @include v.mq(pc) {
        font-size: 0.28rem;
        margin-bottom: 0.5rem;
      }
      .media-br {
        @include v.mq(sp) {
          display: block;
        }
        @include v.mq(pc) {
          display: none;
        }
      }
    }
    &_txt {
      @include v.mq(sp) {
        font-size: 0.16rem;
      }
      @include v.mq(pc) {
        font-size: 0.16rem;
        text-align: center;
      }
      .PC-br {
        @include v.mq(sp) {
          display: none;
        }
        @include v.mq(pc) {
          display: block;
        }
      }
    }
  }
}
