@charset "UTF-8";

@use "./global/base" as b;
@use "./global/variable" as v;
@use "./templates/header";
@use "./templates/footer";

@media screen and (max-width: 480px) {
  .main {
    height: 3.77rem;
    background-color: #eaf3fa;
    padding: 0.4rem 0.2rem 0.605rem 0.2rem;
    &-inner {
      height: 2.77rem;
      background-color: white;
      border-top-left-radius: 0.3rem;
      padding: 0.37rem 0.23rem 0.25rem 0.24rem;
      &_title {
        font-size: 0.24rem;
        text-align: center;
        margin-bottom: 0.25rem;
        font-weight: bold;
        .media-br {
          display: block;
        }
      }
      &_txt {
        font-size: 0.16rem;
        .PC-br {
          display: none;
        }
      }
    }
  }
}

// PC幅のcss
@media screen and (min-width: 481px) {
  .main {
    height: 4.06rem;
    background-color: #eaf3fa;
    padding: 0.8rem 3.2rem;
    &-inner {
      height: 2.46rem;
      border-top-left-radius: 0.4rem;
      background-color: white;
      padding-top: 0.47rem;
      // padding: 0.47rem 1.48rem 0.36rem;
      &_title {
        text-align: center;
        font-size: 0.28rem;
        margin-bottom: 0.5rem;
        width: auto;
        font-weight: bold;
        .media-br {
          display: none;
        }
      }
      &_txt {
        font-size: 0.16rem;
        text-align: center;
        .PC-br {
          display: block;
        }
      }
    }
  }
}
