@use "base" as b;
@use "variable" as v;

@mixin to_simulation ($top){
  @include v.mq(sp) {
    width: calc(100% + .3rem);
    margin: 0 -.15rem;
    margin-top: $top;
  }
  @include v.mq(pc) {
    width: 5.2rem;
    margin-top: $top;
    margin-right: auto;
    margin-left: auto;
  }
  .btn {
    display: inline-block;
  }
}
