@charset "UTF-8";
/*=====================================================
# font
=====================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/*=====================================================
# color
=====================================================*/
/*=====================================================
# Breakpoints
=====================================================*/
/*=====================================================
# base
=====================================================*/
@media screen and (max-width: 767px) {
  html {
    font-size: 26.6666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 6.94444444vw;
  }
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.1rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.1rem;
  }
}

img,
iframe {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.br::after {
  content: "\a";
  white-space: pre;
}

@media screen and (max-width: 767px) {
  .sp-br::after {
    content: "\a";
    white-space: pre;
  }
}

@media screen and (min-width: 768px) {
  .pc-br::after {
    content: "\a";
    white-space: pre;
  }
}

.txt__strong {
  color: #e51a3f;
}

/*=====================================================
# form
=====================================================*/
.type-text .type-email .type-number {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  padding: 0.4em 0.8em;
  appearance: none;
  width: 100%;
}
.type-text .type-email .type-number:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.type-textarea {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  appearance: none;
  width: 100%;
  height: 100px;
  padding: 0.4em 0.8em;
}
.type-textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.type-radio {
  display: none;
}
.type-radio + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
}
.type-radio + span::before {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.type-radio + span::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  border-radius: 50%;
  opacity: 0;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  padding: 2px;
  transition: all 0.3s ease 0s;
}
.type-radio:checked + span::after {
  opacity: 1;
}

.type-select {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  background: transparent url(https://haniwaman.com/cms/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  width: 100%;
  padding: 0.4em 0.8em;
}
.type-select::-ms-expand {
  display: none;
}
.type-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.type-submit {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 1em;
  padding: 0.6em 2em;
}
.type-submit:hover, .type-submit:focus {
  outline: none;
}
.type-submit::-moz-focus-inner {
  border: none;
  padding: 0;
}

/*=====================================================
# layout
=====================================================*/
.inner {
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 10rem;
  }
}

/*=====================================================
# input
=====================================================*/
.type-text,
.type-email,
.type-number {
  font-size: 0.14rem;
  border: 1px solid #b5b9be;
  border-radius: 0.03rem;
  height: 0.5rem;
  padding: 0.12rem;
  width: 100%;
}

.select {
  font-size: 0.14rem;
  border: 1px solid #b5b9be;
  border-radius: 0.03rem;
  height: 0.5rem;
  padding: 0.12rem;
}

.input-number {
  border: 1px solid #333333;
}

/*=====================================================
# header
=====================================================*/
.header {
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .header {
    height: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 0.8rem;
  }
}
.header-bg {
  background: #fff;
}
@media screen and (max-width: 767px) {
  .header-bg {
    padding: 0.14rem 0 0.12rem;
  }
}
@media screen and (min-width: 768px) {
  .header-bg {
    padding: 0.1rem 0;
  }
}
.header-inner {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-inner {
    max-width: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .header-logo {
    width: 1.21rem;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 1.9025rem;
  }
}
.header-txt {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header-txt {
    font-size: 0.14rem;
    line-height: 1.25;
    margin: 0 0 0 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .header-txt {
    font-size: 0.2rem;
    line-height: 1.5;
    margin: 0 0 0 0.25rem;
  }
}

/*=====================================================
# footer
=====================================================*/
.footer {
  color: #fff;
}
.footer-bg {
  background: rgb(51, 51, 51);
}
@media screen and (max-width: 767px) {
  .footer-bg {
    padding: 0.3rem 0 0.21rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-bg {
    padding: 0.47rem 0 0.31rem;
  }
}
.footer-ttl {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer-ttl {
    width: 1.1209rem;
    height: 0.2821rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-ttl {
    width: 1.9rem;
    height: 0.4788rem;
  }
}
.footer-txt .txt {
  font-weight: Medium;
}
@media screen and (max-width: 767px) {
  .footer-txt .txt {
    font-size: 0.14rem;
    line-height: 0.15rem;
    margin: 0.298rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-txt .txt {
    font-size: 0.16rem;
    line-height: 0.18rem;
    margin: 0.25rem 0 0;
  }
}
@media screen and (max-width: 767px) {
  .footer-txt .txt:nth-child(2) {
    margin: 0.1rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-txt .txt:nth-child(2) {
    margin: 0.06rem 0 0;
  }
}
.footer .copyright {
  text-align: center;
  font-size: 0.1rem;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    margin: 0.42rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer .copyright {
    margin: 0.35rem 0 0;
  }
}

.main {
  background-color: #ff0000;
}
@media screen and (max-width: 767px) {
  .main {
    height: 11.93rem;
    padding-top: 0.37rem;
  }
}
@media screen and (min-width: 768px) {
  .main {
    height: 12.16rem;
    padding: 0.67rem 3.2rem 1rem;
  }
}
.main-title {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .main-title {
    font-size: 0.28rem;
    margin: 0 0.89rem 0.36rem 0.9rem;
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 0.28rem;
    padding: 0 0 0.36rem;
    text-align: center;
  }
}
.main-textbox {
  background-color: white;
}
@media screen and (max-width: 767px) {
  .main-textbox {
    height: 10.32rem;
    width: 3.35rem;
    border-top-left-radius: 0.3rem;
    margin: 0 0.2rem 0.605rem 0.2rem;
    padding: 0.35rem 0.2rem 0.4rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox {
    height: 9.85rem;
    width: 8rem;
    padding: 0.51rem 0.395rem 0.5rem 0.405rem;
    border-top-left-radius: 0.4rem;
  }
}
.main-textbox_content {
  border-bottom: 0.01rem solid #e2e3e5;
}
@media screen and (max-width: 767px) {
  .main-textbox_content {
    font-size: 0.16rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox_content {
    font-size: 0.18rem;
  }
}
@media screen and (max-width: 767px) {
  .main-textbox_content .pc-br {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox_content .pc-br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-textbox_content p {
    font-weight: bold;
    margin-bottom: 0.18rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox_content p {
    font-weight: normal;
    padding: 0.205rem 0 0.16rem;
  }
}
@media screen and (max-width: 767px) {
  .main-textbox_content:not(:first-child) {
    margin-top: 0.21rem;
  }
}
.main-textbox .checkbox-content_btn:checked + .checkbox-content_txt::before {
  opacity: 1;
}
.main-textbox .checkbox-content_btn:checked + .checkbox-content_txt::after {
  opacity: 1;
}
.main-textbox .checkbox-content_txt {
  cursor: pointer;
  position: relative;
  /*=====================================================
  # チェックマーク右
  =====================================================*/
  /*=====================================================
  # チェックマーク左
  =====================================================*/
  /*=====================================================
  # チェックボックス
  =====================================================*/
}
@media screen and (max-width: 767px) {
  .main-textbox .checkbox-content_txt {
    font-size: 0.14rem;
    margin: 0 0.2rem 0.46rem 0.48rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox .checkbox-content_txt {
    font-size: 0.16rem;
  }
}
.main-textbox .checkbox-content_txt::before {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transform: rotate(40deg);
  background-color: #000;
}
@media screen and (max-width: 767px) {
  .main-textbox .checkbox-content_txt::before {
    top: 0.132rem;
    left: -0.276rem;
    border: 0.01rem solid #000;
    border-radius: 0.2rem;
    width: 0.07rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox .checkbox-content_txt::before {
    border: 0.01rem solid #000;
    border-radius: 0.2rem;
    width: 0.07rem;
    top: -0.606rem;
    left: 1.936rem;
  }
}
.main-textbox .checkbox-content_txt::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transform: rotate(-45deg);
  background-color: #000;
}
@media screen and (max-width: 767px) {
  .main-textbox .checkbox-content_txt::after {
    top: 0.12rem;
    left: -0.243rem;
    border: 0.01rem solid #000;
    border-radius: 0.2rem;
    width: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox .checkbox-content_txt::after {
    border: 0.01rem solid #000;
    border-radius: 0.2rem;
    width: 0.1rem;
    top: -0.62rem;
    left: 1.97rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox .checkbox-content_txt .checkmark {
    position: absolute;
    min-width: max-content;
    margin-top: 0.2rem;
    left: 2.2rem;
  }
}
.main-textbox .checkbox-content_txt .checkmark::before {
  content: "";
  position: absolute;
  display: block;
}
@media screen and (max-width: 767px) {
  .main-textbox .checkbox-content_txt .checkmark::before {
    width: 0.18rem;
    height: 0.18rem;
    border: 0.012rem solid #b5b9be;
    border-radius: 0.03rem;
    top: 0.05rem;
    left: -0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox .checkbox-content_txt .checkmark::before {
    width: 0.2rem;
    height: 0.2rem;
    border: 0.012rem solid #b5b9be;
    border-radius: 0.03rem;
    top: 0.08rem;
    left: -0.3rem;
  }
}
@media screen and (max-width: 767px) {
  .main-textbox .comfirm-button_img {
    width: 2.95rem;
    height: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .main-textbox .comfirm-button_img {
    display: block;
    width: 3.65rem;
    margin: 0.42rem 1.775rem 0;
  }
}

/*# sourceMappingURL=form.css.map */
