/*=====================================================
# font
=====================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/*=====================================================
# color
=====================================================*/
/*=====================================================
# Breakpoints
=====================================================*/
/*=====================================================
# base
=====================================================*/
@media screen and (max-width: 767px) {
  html {
    font-size: 26.6666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 6.94444444vw;
  }
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.1rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.1rem;
  }
}

img,
iframe {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.br::after {
  content: "\a";
  white-space: pre;
}

@media screen and (max-width: 767px) {
  .sp-br::after {
    content: "\a";
    white-space: pre;
  }
}

@media screen and (min-width: 768px) {
  .pc-br::after {
    content: "\a";
    white-space: pre;
  }
}

.txt__strong {
  color: #e51a3f;
}

/*=====================================================
# form
=====================================================*/
.type-text .type-email .type-number {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  padding: 0.4em 0.8em;
  appearance: none;
  width: 100%;
}
.type-text .type-email .type-number:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.type-textarea {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  appearance: none;
  width: 100%;
  height: 100px;
  padding: 0.4em 0.8em;
}
.type-textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.type-radio {
  display: none;
}
.type-radio + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
}
.type-radio + span::before {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.type-radio + span::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  border-radius: 50%;
  opacity: 0;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  padding: 2px;
  transition: all 0.3s ease 0s;
}
.type-radio:checked + span::after {
  opacity: 1;
}

.type-select {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  background: transparent url(https://haniwaman.com/cms/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  width: 100%;
  padding: 0.4em 0.8em;
}
.type-select::-ms-expand {
  display: none;
}
.type-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.type-submit {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 1em;
  padding: 0.6em 2em;
}
.type-submit:hover, .type-submit:focus {
  outline: none;
}
.type-submit::-moz-focus-inner {
  border: none;
  padding: 0;
}

/*=====================================================
# layout
=====================================================*/
.inner {
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 10rem;
  }
}

/*=====================================================
# input
=====================================================*/
.type-text,
.type-email,
.type-number {
  font-size: 0.14rem;
  border: 1px solid #b5b9be;
  border-radius: 0.03rem;
  height: 0.5rem;
  padding: 0.12rem;
  width: 100%;
}

.input-number {
  border: 1px solid #333333;
}

/*=====================================================
# header
=====================================================*/
.header {
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .header {
    height: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 0.8rem;
  }
}
.header-bg {
  background: #fff;
}
@media screen and (max-width: 767px) {
  .header-bg {
    padding: 0.08rem 0;
  }
}
@media screen and (min-width: 768px) {
  .header-bg {
    padding: 0.1rem 0;
  }
}
.header-inner {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-inner {
    max-width: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .header-logo {
    width: 1.21rem;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 1.9025rem;
  }
}
.header-txt {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header-txt {
    font-size: 0.14rem;
    line-height: 1.4285;
    margin: 0 0 0 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .header-txt {
    font-size: 0.2rem;
    line-height: 1.5;
    margin: 0 0 0 0.25rem;
  }
}

/*=====================================================
# footer
=====================================================*/
.footer {
  color: #fff;
}
.footer-bg {
  background: rgb(51, 51, 51);
  padding: 0.3rem 0 0.2rem;
}
.footer-ttl {
  width: 1.12rem;
  margin: 0 auto;
}
.footer-txt {
  margin: 0.257rem 0 0;
}
.footer-txt .txt {
  font-weight: Medium;
  font-size: 0.14rem;
  line-height: 1;
  margin: 0.25rem 0 0;
}
.footer-txt .txt:nth-child(2) {
  margin: 0.14rem 0 0;
}
.footer-txt .copyright {
  text-align: center;
  margin: 0.4rem 0 0;
}

.main {
  background-color: #eaf3fa;
}
@media screen and (max-width: 767px) {
  .main {
    height: 3.77rem;
    padding: 0.4rem 0.2rem 0.605rem 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .main {
    height: 4.06rem;
    padding: 0.8rem 3.2rem;
  }
}
.main-inner {
  background-color: white;
}
@media screen and (max-width: 767px) {
  .main-inner {
    height: 2.77rem;
    border-top-left-radius: 0.3rem;
    padding: 0.37rem 0.23rem 0.25rem 0.24rem;
  }
}
@media screen and (min-width: 768px) {
  .main-inner {
    height: 2.46rem;
    border-top-left-radius: 0.4rem;
    padding-top: 0.47rem;
  }
}
.main-inner_title {
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .main-inner_title {
    margin-bottom: 0.25rem;
    font-size: 0.24rem;
  }
}
@media screen and (min-width: 768px) {
  .main-inner_title {
    font-size: 0.28rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .main-inner_title .media-br {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .main-inner_title .media-br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-inner_txt {
    font-size: 0.16rem;
  }
}
@media screen and (min-width: 768px) {
  .main-inner_txt {
    font-size: 0.16rem;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .main-inner_txt .PC-br {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-inner_txt .PC-br {
    display: block;
  }
}

/*# sourceMappingURL=thanks.css.map */
