@use "../global/variable" as v;
@use "../global/base" as b;
@use "../global/mixin" as m;
@use "../templates/header";
@use "../templates/footer";
@use "../templates/cta";

/*=====================================================
# mv
=====================================================*/
.mv {
  &-bg {
    width: 100%;
    @include v.mq(sp) {
      background: url(../img/mv/sp/mv-bg.jpg) no-repeat center / cover;
      height: 6.67rem;
    }
    @include v.mq(pc) {
      background: url(../img/mv/pc/mv-bg.jpg) no-repeat center / cover;
      height: 7.09rem;
    }
  }
  &-inner {
    @include v.mq(sp) {
      padding: 0.69rem 0.2rem 0.89rem;
    }
  }
  &-txt {
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    @include v.mq(pc) {
      padding: 0.6rem 0 0;
    }
    .txt {
      &.txt01 {
        @include v.mq(sp) {
          line-height: 1;
          width: 3.35rem;
          margin: 0 auto;
        }
        @include v.mq(pc) {
          line-height: 1;
          width: 5.48rem;
          margin: 0 auto;
        }
      }
      &.txt02 {
        @include v.mq(sp) {
          width: 3.3rem;
          margin: 0 auto;
        }
        @include v.mq(pc) {
          width: 9.91rem;
          margin: -0.22rem auto 0;
        }
      }
    }
  }
  &-label {
    display: flex;
    @include v.mq(sp) {
      justify-content: space-between;
      margin: 0.3rem 0 0;
    }
    @include v.mq(pc) {
      justify-content: center;
      gap: 0.6rem;
      margin: 0.26rem 0 0;
    }
    .label {
      color: v.$color-txt-strong;
      font-weight: bold;
      letter-spacing: 0.04em;
      text-align: center;
      @include v.mq(sp) {
        background: url(../img/mv/sp/mv-label.png) no-repeat center / cover;
        font-size: 0.16rem;
        line-height: 1.4;
        padding: 0.08rem 0;
        width: 1.6rem;
        height: 0.4rem;
      }
      @include v.mq(pc) {
        background: url(../img/mv/pc/mv-label.png) no-repeat center / cover;
        font-size: 0.2rem;
        line-height: 2.6;
        width: 2.7rem;
        height: 0.56rem;
      }
    }
  }
  &-btn {
    @include v.mq(sp) {
      @include m.to_simulation(1.2rem);
    }
    @include v.mq(pc) {
      @include m.to_simulation(1.3rem);
    }
  }
}

/*=====================================================
# solve
=====================================================*/
.solve {
  &-header {
    &-bg {
      width: 100%;
      @include v.mq(sp) {
        background: url(../img/solve/sp/header-bg.png) no-repeat center / cover;
        height: 5.72rem;
      }
      @include v.mq(pc) {
        background: url(../img/solve/pc/header-bg.png) no-repeat center / cover;
        height: 5.12rem;
      }
    }
    &-inner {
      @include v.mq(sp) {
        padding: 0.4rem 0.19rem 0;
      }
      @include v.mq(pc) {
        padding: .67rem 0 0;
      }
    }
    &-ttl {
      color: v.$color-txt-strong;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      @include v.mq(sp) {
        font-size: 0.24rem;
      }
      @include v.mq(pc) {
        font-size: 0.45rem;
      }
    }
    &-txt {
      font-weight: bold;
      text-align: center;
      @include v.mq(sp) {
        font-size: 0.2rem;
        line-height: 1.45;
        margin: 0.14rem 0 0;
      }
      @include v.mq(pc) {
        font-size: 0.24rem;
        line-height: 1;
        margin: 0.285rem 0 0;
      }
    }
    &-content {
      @include v.mq(pc) {
        display: flex;
        justify-content: center;
        column-gap: 0.88rem;
        margin: 0.5rem 0 0;
      }
    }
    &-list {
      display: grid;
      @include v.mq(sp) {
        row-gap: 0.19rem;
        margin: 0.27rem 0 0;
      }
      @include v.mq(pc) {
      }
    }
    &-item {
      &-txt {
        position: relative;
        font-weight: 500;
        @include v.mq(sp) {
          font-size: 0.18rem;
          line-height: 1.6111;
          padding: 0 0 0 0.31rem;
        }
        @include v.mq(pc) {
          font-size: 0.2rem;
          line-height: 1.45;
          padding: 0 0 0 0.34rem;
        }
        &::before {
          content: "";
          position: absolute;
          background: url(../img/solve/common/header-txtParts.png) no-repeat
            center / cover;
          top: 0.06rem;
          left: 0;
          width: 0.18rem;
          height: 0.18rem;
        }
      }
    }
    &-img {
      @include v.mq(sp) {
        width: 2.19rem;
        margin: 0.31rem auto;
      }
      @include v.mq(pc) {
        width: 2.56rem;
      }
    }
  }
  &-footer {
    &-bg {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        @include v.mq(sp) {
          background: url(../img/solve/sp/footer-bg.png) no-repeat center /
            cover;
          top: 1.56rem;
          left: 0;
          width: 100%;
          height: 0.99rem;
        }
        @include v.mq(pc) {
          background: url(../img/solve/pc/footer-bg.png) no-repeat center /
            cover;
          top: 0.1rem;
          left: 50%;
          transform: translateX(-50%);
          width: 10.1rem;
          height: 2.53rem;
        }
      }
    }
    &-inner {
      @include v.mq(sp) {
        padding: 0.23rem 0.19rem 0.6rem;
      }
      @include v.mq(pc) {
        padding: .45rem 0 .6rem;
      }
    }
    &-ttl {
      margin: 0 auto;
      @include v.mq(sp) {
        width: 3.27rem;
      }
      @include v.mq(pc) {
        width: 5.43rem;
      }
    }
    &-txt {
      &:nth-of-type(1) {
        font-weight: bold;
        line-height: 1;
        text-align: center;
        @include v.mq(sp) {
          font-size: 0.18rem;
          margin: 0.14rem 0 0;
        }
        @include v.mq(pc) {
          font-size: 0.3rem;
        }
      }
      &:nth-of-type(2) {
        @include v.mq(sp) {
          font-size: 0.16rem;
          line-height: 1.8125;
          margin: 0.2rem 0 0;
        }
        @include v.mq(pc) {
          font-size: 0.2rem;
          line-height: 2;
          width: 8rem;
          margin: 0.32rem auto 0;
        }
        rt {
          @include v.mq(sp) {
            font-size: 0.12rem;
          }
          @include v.mq(pc) {
            font-size: 0.14rem;
          }
        }
      }
    }
    &-graph {
      @include v.mq(sp) {
        margin: 0.3rem 0 0;
      }
      @include v.mq(pc) {
        margin: 0.28rem 0 0;
      }
    }
  }
}

/*=====================================================
# reason
=====================================================*/
.reason {
  &-bg {
    width: 100%;
    @include v.mq(sp) {
      background: url(../img/reason/sp/bg.png) no-repeat center / cover;
      height: 21.89rem;
      padding: 0.61rem 0 0.85rem;
    }
    @include v.mq(pc) {
      background: url(../img/reason/pc/bg.jpg) no-repeat center / cover;
      height: 12.74rem;
      padding: 0.85rem 0 1rem;
    }
  }
  &-ttl {
    @include v.mq(sp) {
      width: 3.18rem;
      margin: 0 auto;
    }
    @include v.mq(pc) {
      width: 5rem;
      margin: 0 auto;
    }
  }
  &-list {
    @include v.mq(sp) {
      margin: 0.37rem 0 0 0;
    }
    @include v.mq(pc) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.5rem;
      row-gap: 0.29rem;
      margin: 0.7rem 0 0;
    }
  }
  &-item {
    @include v.mq(sp) {
      width: 100%;
    }
    @include v.mq(pc) {
      width: 4.75rem;
      height: 4.52rem;
      padding: 0.3rem 0.3rem 0 0.3rem;
    }
    &:nth-child(n + 2) {
      @include v.mq(sp) {
        margin: 0.3rem 0 0 0;
      }
    }
    &:nth-child(1) {
      @include v.mq(sp) {
        background: url(../img/reason/sp/item01.png) no-repeat center / cover;
        height: 4.34rem;
        padding: 0.34rem 0 0;
      }
      @include v.mq(pc) {
        background: url(../img/reason/pc/item01.png) no-repeat center / cover;
      }
      .reason-item-img {
        @include v.mq(sp) {
          width: 2.3294rem;
        }
        @include v.mq(pc) {
          width: 2.23rem;
        }
      }
    }
    &:nth-child(2) {
      @include v.mq(sp) {
        background: url(../img/reason/sp/item02.png) no-repeat center / cover;
        height: 5.21rem;
        padding: 0.54rem 0 0;
      }
      @include v.mq(pc) {
        background: url(../img/reason/pc/item02.png) no-repeat center / cover;
      }
      .reason-item-img {
        width: 2.4573rem;
      }
    }
    &:nth-child(3) {
      @include v.mq(sp) {
        background: url(../img/reason/sp/item03.png) no-repeat center / cover;
        height: 4.34rem;
        padding: 0.46rem 0 0;
      }
      @include v.mq(pc) {
        background: url(../img/reason/pc/item03.png) no-repeat center / cover;
      }
      .reason-item-img {
        @include v.mq(sp) {
          width: 3.1084rem;
        }
      }
    }
    &:nth-child(4) {
      @include v.mq(sp) {
        background: url(../img/reason/sp/item04.png) no-repeat center / cover;
        height: 4.63rem;
        padding: 0.39rem 0 0;
      }
      @include v.mq(pc) {
        background: url(../img/reason/pc/item04.png) no-repeat center / cover;
      }
      .reason-item-img {
        width: 2.4547rem;
      }
    }
    &-img {
      margin: 0 auto;
    }
    &-ttl {
      font-weight: bold;
      text-align: center;
      font-size: 0.2rem;
      line-height: 1.6;
      @include v.mq(sp) {
        margin: 0.26rem 0 0;
      }
      @include v.mq(pc) {
        margin: 0.22rem 0 0;
      }
    }
    &-txt {
      font-size: 0.16rem;
      line-height: 1.8125;
      @include v.mq(sp) {
        padding: 0 0.2rem;
        margin: 0.18rem 0 0;
      }
      @include v.mq(pc) {
        margin: 0.16rem 0 0;
      }
      .txt__underline {
        text-decoration: underline #ffe3e8 solid 0.1rem;
        @include v.mq(sp) {
          text-underline-offset: -0.04rem;
        }
        @include v.mq(pc) {
          text-underline-offset: -0.02rem;
        }
      }
    }
  }
}

/*=====================================================
# flow
=====================================================*/
.flow {
  &-bg {
    @include v.mq(sp) {
      padding: 0.55rem 0 0.65rem;
    }
    @include v.mq(pc) {
      height: 11.2rem;
      padding: 0.9rem 0;
    }
  }
  &-inner {
    @include v.mq(sp) {
      padding: 0 0.19rem;
    }
  }
  &-ttl {
    &__ja {
      font-weight: bold;
      text-align: center;
      line-height: 1;
      @include v.mq(sp) {
        font-size: 0.3rem;
      }
      @include v.mq(pc) {
        font-size: 0.55rem;
      }
    }
    &__en {
      position: relative;
      margin: 0 auto;
      z-index: -1;
      @include v.mq(sp) {
        width: 2.53rem;
        top: -0.18rem;
      }
      @include v.mq(pc) {
        width: 4.7rem;
        top: -0.35rem;
      }
    }
  }
  &-list {
    @include v.mq(sp) {
      display: grid;
      row-gap: 0.63rem;
      margin: -0.15rem 0 0;
    }
    @include v.mq(pc) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 0.6rem;
      margin: -0.32rem 0 0;
    }
  }
  &-item {
    position: relative;
    @include v.mq(sp) {
      width: 100%;
    }
    @include v.mq(pc) {
      width: 2.7rem;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      @include v.mq(pc) {
        margin-right: 0.42rem;
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
      @include v.mq(pc) {
        margin-left: 0.42rem;
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
      &::before {
        @include v.mq(pc) {
          content: "";
          position: absolute;
          background: url(../img/flow/pc/item-shape.png) no-repeat center /
            cover;
          width: 0.08rem;
          height: 3.54rem;
          top: 0.1rem;
          left: -0.5rem;
        }
      }
    }
    &:not(:first-child) {
      &::before {
        @include v.mq(sp) {
          content: "";
          position: absolute;
          background: url(../img/flow/sp/item-shape.png) no-repeat center /
            cover;
          top: -0.35rem;
          left: 0;
          width: 3.34rem;
          height: 0.07rem;
        }
      }
    }
    &-step {
      position: absolute;
      width: 0.46rem;
      left: 0;
      @include v.mq(sp) {
        top: 0;
      }
      @include v.mq(pc) {
        top: -0.55rem;
      }
    }
    &-img {
      margin: 0 auto;
      width: 1.3rem;
      img {
        vertical-align: baseline;
      }
    }
    &-ttl {
      font-weight: bold;
      font-size: 0.2rem;
      text-align: center;
      line-height: 1;
      @include v.mq(sp) {
        margin: 0.2rem 0 0;
      }
    }
    &-txt {
      font-size: 0.16rem;
      line-height: 1.8125;
      @include v.mq(sp) {
        width: 2.95rem;
        margin: 0.115rem auto 0;
      }
      @include v.mq(pc) {
        margin: 0.12rem 0 0;
      }
      .to-calc{
        display: inline;
        color: #3895FF;
      }
    }
  }
}

/*=====================================================
# faq
=====================================================*/
.faq {
  &-bg {
    background: rgba(248, 248, 248, 1);
    @include v.mq(sp) {
      height: 8.64rem;
      padding: .55rem 0 .6rem;
    }
    @include v.mq(pc) {
      height: 8.9rem;
      padding: .92rem 0 1.01rem;
    }
  }

  &-ttl {
    &__ja {
      text-align: center;
      font-weight: bold;
      line-height: 1;
      @include v.mq(sp) {
        font-size: .3rem;
      }
      @include v.mq(pc) {
        font-size: 0.5rem;
      }
    }
    &__en {
      position: relative;
      margin: 0 auto;
      @include v.mq(sp) {
        top: -.16rem;
        width: 1.76rem;
      }
      @include v.mq(pc) {
        top: -0.31rem;
        width: 3.14rem;
      }
    }
  }

  &-list {
    display: grid;
    @include v.mq(sp) {
      row-gap: .39rem;
      margin: -.22rem 0 0;
    }
    @include v.mq(pc) {
      row-gap: 0.4rem;
      margin: -.05rem 0 0;
    }
  }

  &-item {
    &-q,
    &-a {
      position: relative;
      line-height: 1.6;
      @include v.mq(sp) {
        padding-left: .33rem;
      }
      @include v.mq(pc) {
        padding-left: 0.44rem;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
      }
    }
    &-q {
      font-weight: bold;
      @include v.mq(sp) {
        font-size: .18rem;
      }
      @include v.mq(pc) {
        font-size: 0.2rem;
      }
      &::before {
        background: url(../img/faq/common/q.png) no-repeat center / cover;
        width: 0.25rem;
        height: 0.3rem;
        @include v.mq(sp) {
          left: 0;
          top: .02rem;
        }
        @include v.mq(pc) {
          top: 0.05rem;
          left: 0.09rem;
        }
      }
    }
    &-a {
      font-size: 0.16rem;
      @include v.mq(sp) {
        margin: 0.29rem 0 0;
      }
      @include v.mq(pc) {
        margin: 0.315rem 0 0;
      }
      &::before {
        background: url(../img/faq/common/a.png) no-repeat center / cover;
        width: 0.25rem;
        height: 0.29rem;
        @include v.mq(sp) {
          top: .035rem;
          left: 0;
        }
        @include v.mq(pc) {
          top: .02rem;
          left: 0.09rem;
        }
      }
      &::after{
        background: #CED2D8;
        width: 100%;
        height: .01rem;
        top: -.155rem;
        left: 0;
      }
    }
  }
}

/*=====================================================
# contact
=====================================================*/
.contact{
  &-bg{
    background: rgba(234,243,250, 1);
    height: 29.17rem;
  }

  &-inner{
    max-width: 8rem;
  }
}

.calc{
  background: url(../img/contact/pc/calc_bg.png) no-repeat center / cover;
  width: 100%;
  height: 7.4rem;
}

.form{
  background: url(../img/contact/pc/form_bg.png) no-repeat center / cover;
  width: 100%;
  height: 15.99rem;
}