@use "../global/variable" as v;
@use "../global/base" as b;
@use "../global/mixin" as m;
@use "../templates/header";
@use "../templates/footer";
@use "../templates/cta";

/*=====================================================
# mv
=====================================================*/
.mv {
  &-bg {
    background: url(../img/mv/sp/mv-bg.jpg) no-repeat center / cover;
    width: 100%;
    height: 6.67rem;
  }
  &-inner{
    padding: .69rem .2rem .89rem;
  }
  &-txt{
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    .txt{
      &:nth-child(1){
        font-size: 0.23rem;
        .txt__midium{
          font-size: .29rem;
        }
        .txt__large{
          display: inline;
          font-size: .4rem;
          vertical-align: text-top;
        }
      }
      &:nth-child(2){
        font-size: .4rem;
        margin: .16rem 0 0;
      }
      &:nth-child(3){
        font-size: .55rem;
        margin: .14rem 0 0;
      }
    }
  }
  &-label{
    display: flex;
    justify-content: space-between;
    margin: .3rem 0 0;
    .label{
      color: v.$color-txt-strong;
      background: url(../img/mv/sp/mv-label.png) no-repeat center / cover;
      font-weight: bold;
      font-size: .16rem;
      letter-spacing: .04em;
      line-height: 1.4;
      text-align: center;
      padding: .08rem 0;
      width: 1.6rem;
      height: .4rem;
    }
  }
  &-btn{
    @include m.to_simulation(1.2rem);
  }
}

/*=====================================================
# solve
=====================================================*/
.solve{
  &-header{
    &-bg{
      background: url(../img/solve/sp/solve-header-bg.png) no-repeat center / cover;
      width: 100%;
      height: 5.72rem;
    }
    &-inner{
      padding: .4rem .19rem 0;
    }
    &-ttl{
      color: v.$color-txt-strong;
      font-weight: bold;
      font-size: .24rem;
      line-height: 1;
    }
    &-txt{
      font-weight: bold;
      font-size: .2rem;
      line-height: 1.45;
      text-align: center;
      margin: .14rem 0 0;
    }
    &-list{
      display: grid;
      row-gap: .19rem;
      margin: .27rem 0 0;
    }
    &-item{
      &-txt{
        position: relative;
        font-weight: 500;
        font-size: .18rem;
        line-height: 1.6111;
        padding: 0 0 0 .31rem;
        &::before{
          content: "";
          position: absolute;
          background: url(../img/solve/sp/solve-header-txtParts.png) no-repeat center / cover;
          width: .18rem;
          height: .18rem;
          top: .06rem;
          left: 0;
        }
      }
    }
    &-img{
      width: 2.19rem;
      margin: .31rem auto;
    }
  }
  &-footer{
    &-bg{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        background: url(../img/solve/sp/solve-footer-bg.png) no-repeat center / cover;
        top: 1.56rem;
        left: 0;
        width: 100%;
        height: .99rem;
        z-index: -1;
      }
    }
    &-inner{
      padding: .23rem .19rem .6rem;
    }
    &-ttl{
      font-weight: bold;
      font-size: .3rem;
      line-height: 1;
      text-align: center;
      .txt__45{
        font-size: .45rem;
      }
    }
    &-txt{
      &:nth-of-type(1){
        font-weight: bold;
        font-size: .18rem;
        line-height: 1;
        margin: .14rem 0 0;
        text-align: center;
      }
      &:nth-of-type(2){
        font-size: .16rem;
        line-height: 1.8125;
        margin: .2rem 0 0;
        rt{
          font-size: .12rem;
        }
      }
    }
    &-graph{
      margin: .3rem 0 0;
    }
  }
}