@use "../global/variable" as v;
@use "../global/base" as b;
@use "../global/mixin" as m;
@use "../templates/header";
@use "../templates/footer";
@use "../templates/cta";

/*=====================================================
# mv
=====================================================*/
.mv {
  &-bg {
    width: 100%;
    @include v.mq(sp) {
      background: url(../img/mv/sp/mv-bg.jpg) no-repeat center / cover;
      height: 6.67rem;
    }
    @include v.mq(pc) {
      background: url(../img/mv/pc/mv-bg.jpg) no-repeat center / cover;
      height: 7.09rem;
    }
  }
  &-inner {
    @include v.mq(sp) {
      padding: 0.69rem 0.2rem 0.89rem;
    }
    @include v.mq(pc) {
      
    }
  }
  &-txt {
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    .txt {
      &:nth-child(1) {
        @include v.mq(sp) {
          font-size: 0.23rem;
        }
        @include v.mq(pc) {
          font-size: 0.38rem;
        }
        .txt__midium {
          @include v.mq(sp) {
            font-size: 0.29rem;
          }
          @include v.mq(pc) {
            font-size: 0.48rem;
          }
        }
        .txt__large {
          display: inline;
          vertical-align: text-top;
          @include v.mq(sp) {
            font-size: 0.4rem;
          }
          @include v.mq(pc) {
            font-size: 0.65rem;
          }
        }
      }
      &:nth-child(2) {
        @include v.mq(sp) {
          font-size: 0.4rem;
          margin: 0.16rem 0 0;
        }
        @include v.mq(pc) {
          display: inline;
          font-size: 0.69rem;
          margin: 0.1rem 0 0;
        }
        .txt__small {
          @include v.mq(pc) {
            font-size: 0.61rem;
          }
        }
      }
      &:nth-child(3) {
        @include v.mq(sp) {
          font-size: 0.55rem;
          margin: 0.14rem 0 0;
        }
        @include v.mq(pc) {
          display: inline;
          font-size: .85rem;
        }
      }
    }
  }
  &-label {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0 0;
    .label {
      color: v.$color-txt-strong;
      background: url(../img/mv/sp/mv-label.png) no-repeat center / cover;
      font-weight: bold;
      font-size: 0.16rem;
      letter-spacing: 0.04em;
      line-height: 1.4;
      text-align: center;
      padding: 0.08rem 0;
      width: 1.6rem;
      height: 0.4rem;
    }
  }
  &-btn {
    @include m.to_simulation(1.2rem);
  }
}

/*=====================================================
# solve
=====================================================*/
.solve {
  &-header {
    &-bg {
      background: url(../img/solve/sp/solve-header-bg.png) no-repeat center /
        cover;
      width: 100%;
      height: 5.72rem;
    }
    &-inner {
      padding: 0.4rem 0.19rem 0;
    }
    &-ttl {
      color: v.$color-txt-strong;
      font-weight: bold;
      font-size: 0.24rem;
      line-height: 1;
    }
    &-txt {
      font-weight: bold;
      font-size: 0.2rem;
      line-height: 1.45;
      text-align: center;
      margin: 0.14rem 0 0;
    }
    &-list {
      display: grid;
      row-gap: 0.19rem;
      margin: 0.27rem 0 0;
    }
    &-item {
      &-txt {
        position: relative;
        font-weight: 500;
        font-size: 0.18rem;
        line-height: 1.6111;
        padding: 0 0 0 0.31rem;
        &::before {
          content: "";
          position: absolute;
          background: url(../img/solve/sp/solve-header-txtParts.png) no-repeat
            center / cover;
          width: 0.18rem;
          height: 0.18rem;
          top: 0.06rem;
          left: 0;
        }
      }
    }
    &-img {
      width: 2.19rem;
      margin: 0.31rem auto;
    }
  }
  &-footer {
    &-bg {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: url(../img/solve/sp/solve-footer-bg.png) no-repeat center /
          cover;
        top: 1.56rem;
        left: 0;
        width: 100%;
        height: 0.99rem;
        z-index: -1;
      }
    }
    &-inner {
      padding: 0.23rem 0.19rem 0.6rem;
    }
    &-ttl {
      width: 3.27rem;
      margin: 0 auto;
    }
    &-txt {
      &:nth-of-type(1) {
        font-weight: bold;
        font-size: 0.18rem;
        line-height: 1;
        margin: 0.14rem 0 0;
        text-align: center;
      }
      &:nth-of-type(2) {
        font-size: 0.16rem;
        line-height: 1.8125;
        margin: 0.2rem 0 0;
        rt {
          font-size: 0.12rem;
        }
      }
    }
    &-graph {
      margin: 0.3rem 0 0;
    }
  }
}

/*=====================================================
# reason
=====================================================*/
.reason {
  &-bg {
    background: url(../img/reason/sp/bg.png) no-repeat center / cover;
    width: 100%;
    padding: 0.62rem 0.2rem 0.85rem 0.2rem;
  }
  &-ttl {
  }
  &-list {
    margin: 0.37rem 0 0 0;
  }
  &-item {
    &:nth-child(n + 2) {
      margin: 0.3rem 0 0 0;
    }
    &:nth-child(1) {
      background: url(../img/reason/sp/item-bg.png) no-repeat center / cover;
      width: 100%;
      padding: 0.18rem 0.18rem 0.4rem 0.19rem;
    }
    &-img {
    }
    &-ttl {
    }
    &-txt {
    }
  }
}
